*.o
BlackScholes/BlackScholes
dct8x8/dct8x8
histogram/histogram
imageDenoising/imageDenoising
imageDenoising/output.ppm
MonteCarloMultiGPU/MonteCarloMultiGPU
recursiveGaussian/recursiveGaussian
srad_v1/srad
srad_v1/image_out.pgm
srad_v2/srad
srad_v1_opt/srad
backprop/backprop
cfd/euler3d
cfd/euler3d_double
cfd/pre_euler3d
cfd/pre_euler3d_double
hotspot/hotspot
pathfinder/pathfinder
pathfinder/result.txt
gaussian/gaussian
vectorAdd*/vectorAdd
kmeans/kmeans
bfs/bfs
dwt2d/dwt2d
dwt2d/*.bmp.dwt.*
reduction/reduction
dxtc/dxtc
matrixMulCUBLAS/matrixMulCUBLAS
b+tree/b+tree.out
heartwall/heartwall
hotspot3D/3D
hotspot3D/output.out
huffman/pavle
lavaMD/lavaMD
lud/cuda/lud_cuda
lud/cuda/*log
lud/cuda/*csv
myocyte/myocyte.out
myocyte/output.txt
nn/nn
nw/needle
particlefilter/particlefilter_float
particlefilter/particlefilter_naive
streamcluster/sc_gpu
cfd/density
cfd/density_energy
cfd/momentum
cfd_vp_opt/density
cfd_vp_opt/density_energy
cfd_vp_opt/momentum
cfd_vp_opt/euler3d
cfd_vp_opt/euler3d_double
cfd_vp_opt/pre_euler3d
cfd_vp_opt/pre_euler3d_double


.vscode/

NsightEclipse.xml

*/*cu.cpp.ii
core
*/hpctoolkit-*-measurements*
*/hpctoolkit-*-database*
*/prof
*/*log
*/workspace/
*/prof/
*csv
*hpcstruct
*/*hpcstruct
*/output.txt

data/
*/result.txt
*/reports/
*/gvprof-measurements/
*/gvprof-database*/
*/gvprof*/
