*.o
BlackScholes/BlackScholes
dct8x8/dct8x8
histogram/histogram
imageDenoising/imageDenoising
imageDenoising/output.ppm
MonteCarloMultiGPU/MonteCarloMultiGPU
recursiveGaussian/recursiveGaussian
srad_v1/srad
srad_v1/image_out.pgm
srad_v2/srad
srad_v1_opt/srad
backprop/backprop
cfd/euler3d
cfd/euler3d_double
cfd/pre_euler3d
cfd/pre_euler3d_double
hotspot/hotspot
pathfinder/pathfinder
pathfinder/result.txt
gaussian/gaussian
vectorAdd*/vectorAdd
kmeans/kmeans
bfs/bfs
dwt2d/dwt2d
dwt2d/*.bmp.dwt.*

.vscode/

NsightEclipse.xml


core
*/hpctoolkit-*-measurements*
*/hpctoolkit-*-database*
*/prof
*/*log*
*/workspace/
*/prof/
*csv
*hpcstruct
*/*hpcstruct

data/
